

.titulo-pg{
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.editar{
    background: #4c59de;
}
.deletar{
    background: #059b0e;
}

.acao{
   padding: 6px;
   color: #fff;
   text-decoration: none;
   font-size: 1em;
   margin: 0px 2px;
}
.acao:hover{
    text-decoration: none;
    color: #fff;
}

.btn-add{
    margin-bottom: 10px;
}

.tamanho{
    width: 300px;
}